<div>
  <form class="movieForm"
        #movieForm="ngForm">
    <mat-form-field class="searchField">
      <input matInput
             placeholder="Movie title"
             name="movieTitle"
             [(ngModel)]="model.movieTitle"
             (keyup)="getFilms()"
             value="Sushi">
    </mat-form-field>
  </form>

  <mat-list role="list" fxLayout="column">
    <mat-list-item role="listitem" id="listHeader">
      <span fxFlex="fill">Title</span>
      <span fxFlex="20%">Year</span>
      <span fxFlex="20%" fxHide.lt-sm>imdbID</span>
    </mat-list-item>

    <mat-list-item role="listitem" class="listRow" *ngFor="let film of films" (click)="getFilm(film.imdbID)">
      <span fxFlex="fill">{{film.Title}}</span>
      <span fxFlex="20%">{{film.Year}}</span>
      <span fxFlex="20%" fxHide.lt-sm>{{film.imdbID}}</span>
    </mat-list-item>
  </mat-list>


  <!--PAGINATION-->
  <div fxLayout="row" id="paginationWrapper" fxLayoutAlign="center center">
    <div id="pagination">
      <button mat-button [disabled]="page === 1" (click)="firstPage()">
        <mat-icon>first_page</mat-icon>
      </button>
      <button mat-button [disabled]="page === 1" (click)="previousPage()">
        <mat-icon>keyboard_arrow_left</mat-icon>
      </button>
      <div id="pageCounter">
        {{page}} / {{totalPages}}
      </div>
      <button mat-button [disabled]="totalPages <= page" (click)="nextPage()">
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
      <button mat-button [disabled]="totalPages <= page" (click)="lastPage()">
        <mat-icon>last_page</mat-icon>
      </button>
    </div>
  </div>
</div>

