@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html {
  background: #E3E2E1;
}

body {
  background: #FFFFFF;
  width: 1170px;
  margin: 0 auto;
  min-height: 100vh;
}

* {
  font-family: 'Marcellus SC', serif;
}

h1 {font-size: 30px}
h2 {font-size: 26px}
h3 {font-size: 22px}
p {font-size: 18px}

h1, h2, h3, p {
  color: #8c8c8c;
  font-weight: 400;
};

.txtBold {
  font-weight: 600;
}

form {
  padding: 16px;
}

#listHeader {
  //background: #F5F5F5;
  background: #E3E2E1;
}

.listRow {
  border-bottom: 1px solid #E3E2E1;
  cursor: pointer;
  &:hover {
    background-color: rgba(227,226,225,0.5);
  }
}

/* PAGINATION */
#paginationWrapper {
  min-height: 60px;
  overflow: hidden;
  #pagination {
    list-style: none;
    border-radius: 0.25rem;
    position: fixed;
    bottom: 10px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    > button {
      padding: 0;
      min-width: 40px;
    }
  }
}

#ticketsViewToggle {
  position: absolute;
  left: 15px;
  bottom: 60px;
  width: 20%;
  background: #FFFFFF;
  padding: 2px;
}

.txtViewToggle {
  font-size: 15px;
  margin: 0 !important;
}

#list-container {
  margin-bottom: 50px;
}

.list-container {
  margin-bottom: 50px;
}
/* PAGINATION END */


/* RESPONSIVE */

@media only screen and (max-width: 1350px) {
  #btnBack {
    display: none;
  }
}

@media only screen and (max-width: 1170px) {
  body {
    width: 100%;
  }
}

@media only screen and (max-width: 959px) {
  #imgSection {
    text-align: center;
  }

  #mainInfo {
    margin-top: 20px;
  }
}

/* MOVIE PAGE */

.moviePage {
  position: relative;
  padding: 16px;
}

#mainInfo {
  position: relative;
}

#imgSection {
  position: relative;
  margin-bottom: 20px;
  min-height: 480px;
  img {
    width: 300px;
    max-width: 100%;
    margin-top: 1em;
  }
}

#btnBack {
  position: fixed;
  bottom: 25px;
  left: 25px;
}
