@import "~@angular/material/prebuilt-themes/indigo-pink.css";

form {
  padding: 16px;
}

.listRow {
  border-bottom: 1px solid #E3E2E1;
  cursor: pointer;
  &:hover {
    background-color: rgba(227,226,225,0.5);
  }
}

/* PAGINATION */
#paginationWrapper {
  min-height: 60px;
  overflow: hidden;
  #pagination {
    list-style: none;
    border-radius: 0.25rem;
    position: fixed;
    bottom: 10px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    > button {
      padding: 0;
      min-width: 40px;
    }
  }
}

#ticketsViewToggle {
  position: absolute;
  left: 15px;
  bottom: 60px;
  width: 20%;
  background: #FFFFFF;
  padding: 2px;
}

.txtViewToggle {
  font-size: 15px;
  margin: 0 !important;
}

#list-container {
  margin-bottom: 50px;
}

.list-container {
  margin-bottom: 50px;
}
/* PAGINATION END */
