<div *ngIf="film" class="moviePage" fxLayout.gt-sm="row" fxLayout.lt-md="column">

  <!--IMAGE SECTION-->
  <div fxFlex.gt-sm="400px" fxFlex.lt-md="fill" id="imgSection">
    <img src={{film.Poster}} alt="Movie poster" *ngIf="film.Poster !== 'N/A'">
    <img src="../../assets/img/default-img.png" alt="Default image" *ngIf="film.Poster === 'N/A'">
  </div>

  <!--MAIN INFO SECTION-->
  <div fxFlex="fill" id="mainInfo">
    <h3><span fxFlex="160px" class="txtBold">Title</span><span>{{film.Title}}</span></h3>
    <h3><span fxFlex="160px" class="txtBold">Genre</span><span>{{film.Genre}}</span></h3>
    <h3><span fxFlex="160px" class="txtBold">Date Released</span><span>{{film.Released}}</span></h3>
    <h3><span fxFlex="160px" class="txtBold">Runtime</span><span>{{film.Runtime}}</span></h3>
    <h3><span fxFlex="160px" class="txtBold">Director</span><span>{{film.Director}}</span></h3>
    <h3><span fxFlex="160px" class="txtBold">Writer</span><span>{{film.Writer}}</span></h3>
    <h3><span fxFlex="160px" class="txtBold">Actors</span><span>{{film.Actors}}</span></h3>
  </div>

</div>

<div *ngIf="film" class="moviePage" fxLayout.gt-sm="row" fxLayout.lt-md="column">

  <!--MORE INFO-->
  <div fxFlex="fill">
    <h3><span fxFlex="160px" class="txtBold">Country</span><span>{{film.Country}}</span></h3>
    <h3><span fxFlex="160px" class="txtBold">Language</span><span>{{film.Language}}</span></h3>
    <h3><span fxFlex="160px" class="txtBold">Website</span><span>{{film.Website}}</span></h3>
    <h3><span fxFlex="160px" class="txtBold">Story</span><span>{{film.Plot}}</span></h3>
  </div>


  <!--RATINGS-->
  <div fxFlex.gt-sm="400px" fxFlex.lt-md="fill">
    <h3 class="txtBold">Ratings</h3>
    <mat-list role="list" fxLayout="column">
      <mat-list-item role="listitem" id="listHeader">
        <span fxFlex="fill">Source</span>
        <span fxFlex="30%">Ratings</span>
      </mat-list-item>

      <mat-list-item role="listitem" class="listRow" *ngFor="let rating of film.Ratings">
        <span fxFlex="fill">{{rating.Source}}</span>
        <span fxFlex="30%">{{rating.Value}}</span>
      </mat-list-item>
    </mat-list>
  </div>
</div>

<button mat-fab color="warn" id="btnBack" (click)="backToList()">
  <mat-icon aria-label="Back button">keyboard_arrow_left</mat-icon>
</button>

